//Variables 

@background: #EDE3C8;
@font: #40361D;
@lightblue: #86A9BA;
@darkblue: #2D383E;

@thickfont: 'Russo One', sans-serif;
@mainfont: 'Contrail One', cursive;
@regfont: 'Lato', sans-serif;
@skinnyfont: 'Raleway', sans-serif;

@border: solid 3px #40361D;

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: @background;
	height: 100%;
	width: 100%;
	margin-top: 20px;
}

#container{
	width: 58%;
	margin-left: auto;
	margin-right: auto;
	border-top: @border;
	padding-top: 10px;
}

.navbar{
	background-color: @background;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1.5%;

	a{
	float: left;
	color: @font;
	text-align: center;
	border: @border;
	width: 13%;
	height: 40px;
	padding: 2px;
	font-size: 18px;
	vertical-align: middle;
	font-height: 20px;
	font-family: @mainfont;
	transition-duration: 0.3s;
	}

	a:hover{
	background-color: @darkblue;
	color: @lightblue;
	}
}

h2{
	font-family: @skinnyfont;
	color: @font;
	font-size: 64px;
	padding-left: 15px;
}

.intro{

	border-bottom: @border;
	height: 350px;

	.words{
		font-family: @thickfont;
		color: @font;
		font-size: 52px; 
		margin-left: 2%;
		margin-top: 2%;
		float: left;
	}

	img{
		border: @border;
		margin-left: auto;
	}

	.authorpic{
	    float: right;
	    margin-top: 2%;
	}
}

.buttons{

	width: 100%;

	button{
		font-family: @mainfont;
		color: @font;
		font-size: 20px;
		width: 300px;
		height: 60px;
		border: @border;
		padding: 10px 16px;
		background-color: @background;
		float: left;
		margin-left: 5%;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	button:hover{
		background-color: @darkblue;
		border: solid 3px @lightblue;
		color: @lightblue;
	}
}

.line{
	width: 300px;
	float: left;
	margin-left: 5%;
	margin-bottom: 2%;
	border-top: @border;
}

.pictures{

	.covers{
		width: 300px;
		float: left;
		margin-left: 5%;
		box-shadow: @shadow;
		height: 450px;

	}

	.daddy{
		border: @border;
		width: 300px;
		float: left;
		margin-left: 5%;
		height: 420px;

	}
}

.row3{
	width: 100%;
	clear: both;
}

.underfont1, .underfont2, .underfont3 {
	width: 300px;
	float: left;
	margin-left: 5%;
	text-align: center;
	margin-bottom: 5%;

	h3{
		color: @lightblue;
		font-family: @mainfont;
		font-size: 32px;

	}

	h4{
		color: @darkblue;
		font-size: 28px;
		font-family: @mainfont;
	}

	p{
		color: @font;
		font-size: 18px;
		font-family: @mainfont;
	}
}

.underfont1, .underfont3{
	margin-top: 2%;
}

.underfont2{
	margin-top: 0%;
}