@background: #EDE3C8;
@font: #40361D;
@lightblue: #86A9BA;

@thickfont: 'Russo One', sans-serif;
@mainfont: 'Contrail One', cursive;
@regfont: 'Lato', sans-serif;
@skinnyfont: 'Raleway', sans-serif;

@border: solid 2px #40361D;

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: @background;
	height: 100%;
	width: 100%;
}

#container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-top: @border;
}

h1{
	font-family: @thickfont;
	color: @font;
	font-size: 80px;
}

h2{
	font-family: @mainfont;
	color: @font;
	font-size: 64px;
}

#intro{
	img{ border: @border; }

}